{% extends "base.html.twig" %}

{% block title %}Accueil
{% endblock %}
{% block body %}


	<h1>Nos produits Phares</h1>
	<div class="row">
		{% for p in products %}
			<div class="col">
				<div class="card">
					<img src="{{ p.mainPicture }}" class="img-fluid" alt="random img">
					<div class="card-body">
						<h4 class="card-title">{{ p.name }}</h4>
						<span class="badge bg-info">{{ p.category.name}}</span>
						<p class="card-text">{{ p.shortDescription }}</p>


						<p>{{ p.price / 100 }}&euro;</p>
						<a href="{{ path("product_show", {"category_slug":p.category.slug, "slug":p.slug})}}" class="btn btn-primary btn-sm">Détails</a>
						<a href="#" class="btn btn-success btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<hr>

	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae quibusdam est corrupti, animi modi sunt?</p>
	<div class="row">

		{% include "shared/_assurance.html.twig" with {
            "color": "primary",
            "icon": "fas fa-truck",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sint libero impedit. Esse, cupiditate distinctio."
        } %}

		{% include "shared/_assurance.html.twig" with {
            "color": "success",
            "icon": "fas fa-check",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sint libero impedit. Esse, cupiditate distinctio."
        } %}

		{% include "shared/_assurance.html.twig" with {
            "color": "danger",
            "icon": "fas fa-lock",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sint libero impedit. Esse, cupiditate distinctio."
        } %}

	</div>
{% endblock %}
